body {  
  color: #999;
}

#home {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #c36230 url("../img/sun-background-portrait.jpg") no-repeat fixed;
  background-position: right bottom;
  background-size: 100% auto;
}

#home::after {
  position: absolute;
  z-index: -1;
  width: 100%;
  content: " ";
  width: inherit;
  height: inherit;
  background: transparent url("../img/Sam-homebody-bg.svg") no-repeat fixed;
  background-position: right bottom;
  background-size: 100% auto;
}

header {
  background-color: white;
  position: fixed;
  width: 100%;
}

.white-popup {
  background-color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.6);
}

/* Style the links inside the navigation bar */
h1 a, nav a {
  color: #999;
}

/* Change the color of links on hover */
a:hover {
  color: #f66;
}

h1 a em {
  color: #f66;
}

@media screen and (max-width: 560px) {
  form {color: black;}
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: black;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: black;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: black;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: black;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  #home {
    background: #c36230 url("../img/sun-background-landscape.jpg") no-repeat fixed;
    background-position: right bottom;
    background-size: auto 100%;
  }
  #home::after {
    background-size: auto 100%;
  }
}
