body {
  color: #999;
}
.white-popup {
  background: #FFF;
}

nav {
  background-color: white;
}

/* Style the links inside the navigation bar */
h1 a, nav a {
  color: #999;
}

/* Change the color of links on hover */
a:hover {
  color: #f66;
}

h1 a em {
  color: #f66;
}