body {  
  color: #999;
}

#home {
  z-index: 1;
  width: 100%;
  height: 100%;
  background: #c36230 url("../img/sun-background-portrait.jpg") no-repeat fixed;
  background-position: right bottom;
  background-size: 100% auto;
}

#home body {
  z-index: 11;
  width: 100%;
  height: 100%;
  background: transparent url("../img/Sam-homebody-bg.svg") no-repeat fixed;
  background-position: right bottom;
  background-size: 100% auto;
}

header {
  background-color: white;
  z-index: 10;
}

article h1 em {
  font-style: normal;
  color: red;
}

h1 a, nav a {
  color: #555;
}

a:hover {
  color: #f66;
}

h1 a em {
  color: #f66;
}
