#message {
  background: #fff url('../img/Sam.png') no-repeat bottom right;
  background-size: auto 100%;
}

section form {
    width: 80%;
    margin: auto;
    border-radius: 5px;
    background-color: #f1f1f1;
    padding: 20px;
}

.error {color:red;}