*:focus {
  outline: 0;
}
header {
  padding: 20px 8%;
  width: 84%;
  position: fixed;
  top: 0;
}
h1 {
  margin: 0;
}
header + section {
  margin-top: 70px;
}
.portfolio figure {
  margin: 0;
}
.portfolio figure img {
  margin:auto;
  margin-bottom: 40px;
  width: 90%;
}
.portfolio figure img:hover {
  -webkit-filter: brightness(30%);
  cursor: pointer;
}
.portfolio figcaption {
  display: none;
}

.white-popup {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 5vw;
  width:37vw;
}
.white-popup h2 {
  padding-bottom: 0.8em;
}

nav {
  overflow: hidden;
}

/* Style the links inside the navigation bar */
h1 a, nav a {
  padding: 0;
  display: inline-block;
}

h1 a {
  float: left;
}

nav a {
  float: right;
  margin-left: 1.6em;
}

nav .icon {
  display: none;
}
@media screen and (max-width: 580px) {
  nav a {display: none;}
  nav a.icon {
    float: right;
    display: block;
  }
  nav.responsive {
    position: relative;
    margin-top: 70px;
  }
  nav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}
@media screen and (max-width: 1500px) {
  .white-popup {width: 520px;}
}