@media screen and (max-width: 1500px) {
  .white-popup h2 {
    font-size: 24px;
  }
  .white-popup {
    font-size:16px;
    width: 520px;
  }
  form {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 767px) {
  
  .white-popup h2 {
    font-size: 3.8vw;
  }
  .white-popup {
    top: 220px;
    font-size:2.8vw;
    width: 90vw;
  }

  .portfolio figcaption {
    opacity: 1;
    display: block;
    padding-bottom: 0;
    background: rgba(0,0,0,0.6);
  }

  form {
    font-size: 2em;
    color: black;
  }
  ::-webkit-input-placeholder {color: black;}
  ::-moz-placeholder {color: black;}
  :-ms-input-placeholder {color: black;}
  :-moz-placeholder {color: black;}
}

@media screen and (min-aspect-ratio: 1/1) {
  #home {
    background: #c36230 url("../img/sun-background-landscape.jpg") no-repeat fixed;
    background-position: right bottom;
    background-size: auto 100%;
  }
  #home body {
    background-size: 50% auto;
  }
}