@import url('layout.css');
@import url('color.css');
@import url('typography.css');

.navbar .container-fluid, .navbar-brand {
  font-size: 24px;
}

/* Sticky footer
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  padding-bottom: 55px;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 15px 2em;
  /* Set the fixed height of the footer here */
  height: 55px;
  background-color: #ddd;
}
footer h4 {
  color: #d9230f;
  font-size: .9em;
  margin: 0;
  padding-top: 11px;
}
#home footer {
background-color: #edb25c;
}
#work footer {
background-color: #f1f1f1;
}
#contact footer {
background-color: #f1f1f1;
}
#home footer h4 {
  color: white;
}
