@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body, h1, h2, h3 {
  font-family: "Century Gothic", CenturyGothic, 'Montserrat', sans-serif;
  font-size: 32px;
  font-style: normal;
}
html, body {
  font-weight: 200;
}
h1, h2, h3 {
  font-weight: 300;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 0.8em;
}
header h1 {
  font-size: 1em;
}
/* Style the links inside the navigation bar */
h1 a, nav a {
  text-align: center;
  text-decoration: none;
}
h1 a em {
  font-style: normal;
}
.white-popup h2 {
  font-size: 1.4em;
}
.white-popup {
  line-height: 2em;
  font-size: .8em;
}
/*@media screen and (max-width: 560px) {
  h1 a, nav a {font-size: 18px;}
  form {font-size: 12px;}
}*/
