@import url('https://fonts.googleapis.com/css?family=Montserrat');
html, body, h1, h2, h3 {
  font-family: "Century Gothic", CenturyGothic, 'Montserrat', sans-serif;
  font-size: 1.4vw;
  font-style: normal;
}
html, body {
  font-weight: 200;
}
h1, h2, h3 {
  font-weight: 300;
}
h1 {
  font-size: 1.4em;
}
h2 {
  font-size: 1.1em;
}
h3 {
  font-size: 0.8em;
}

header a {
  font-size: 1.8vw;
  text-align: center;
  text-decoration: none;
}
h1 a em {
  font-style: normal;
}