@import url('grids-responsive-min.css');
@import url('magnific-popup.css');

.portfolio figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.portfolio figure img {
  margin:auto;
  margin-bottom: 40px;
  width: 90%;
}

.portfolio figure img:hover {
  -webkit-filter: brightness(30%);
  cursor: pointer;
}

.portfolio figcaption {
  opacity: 0;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  margin-bottom: 40px;
  margin-left: 5%;
  padding-bottom: 16%;
  text-align: center;
  color: #fff;
  text-shadow: 0 0 8px rgba(255, 0, 0, 6);
  pointer-events: none;
}

.portfolio img:hover + figcaption, .portfolio figcaption:hover {
  opacity: 1;
  display: block;
}