@import url('magnific-popup.css');

.portfolio figure {
  position: relative;
  margin: 0;
  padding: 0;
}

.portfolio figure img {
  margin:auto;
  margin-bottom: 36px;
  width: 90%;
}

.portfolio figure img:hover {
  -webkit-filter: brightness(30%);
  cursor: pointer;
}

.portfolio figcaption {
  opacity: 0;
  display: none;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 90%;
  margin-bottom: 36px;
  margin-left: 5%;
  padding-bottom: 20%;
  text-align: center;
  color: #fff;
  text-shadow: 5px 5px 8px rgba(0, 0, 0, 6);
  pointer-events: none;
}

.portfolio figcaption h3 {
  color: #fff;
}

.portfolio img:hover + figcaption,
.portfolio figcaption:hover {
  opacity: 1;
  display: block;
}

.inline-popup {
  background: #fff;
  padding-top: 5vh;
  width: auto;
  max-width: 100%;
  margin: 20px auto;
  text-align: center;
}

.inline-popup img {
  max-width: 94vw;
  width: auto;
}

img.mfp-img {
  padding-bottom: 0;
}

.inline-popup figcaption,
.inline-popup h1,
.inline-popup h2 {
  color: #aaa;
  text-align:left;
  font-size: 8px;
  margin:0;
}

.inline-popup figcaption {
  padding: 0 1.5vw;
}

.inline-popup h1 {
  font-size: 12px;
  margin: 10px 0 6px 0;
}

.inline-popup h2 {
  font-size: 7px;
  margin-top: 0;
}

.inline-popup dt,
.inline-popup dd {
  line-height: 120%;
}

.dl-horizontal {
  margin-bottom:0;
}

.dl-horizontal dt {
  width: auto;
  float: left;
  margin-right: .5em;
  overflow: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.inline-popup dd {
  margin: 3px 0;
}

.mfp-wrap {
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translateZ(0);
}

html.mfp-helper {
  height: 100%;
}

html.mfp-helper body {
	overflow: hidden;
	height: 100%;
	-webkit-transform: translateZ(0);
}

.inline-popup dt::after {
  content: ":";
}

.posters img.mfp-img {
  max-height: 100% !important;
}