html, body {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
}
h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 300;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
a {
  margin: 0;
  padding: 0;
}